* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  /*CORES PRINCIPAIS*/
  --background-color:rgb(209, 202, 211);
  --brand-color: #790a8f;
  --text-color: #383737;

  /*CORES FIXAS*/
  --white: #ffffff;
  --black-shadow-25: #00000025;

  /*HOVER*/
  --hover-button: #4d015c;
}
body{
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
}
header{
  background-color: var(--brand-color);
  color: var(--background-color);
  text-align: center;
  padding: 32px 16px;
  box-shadow: 0 4px 10px var(--black-shadow-25);
  border-radius: 0px 0px 16px 16px;
}

header h1 {
    color: var(--white);
    font-size: 2.3rem;
    margin-bottom: 12px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 900px;
    margin: 60px auto;
    background-color: var(--white);
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 4px 18px var(--black-shadow-25);
}
input{
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 10px;
  border: 1px solid var(--brand-color);
  border-radius: 50px;
  outline: none;
}


input:focus,
button:focus {
  outline: 2px solid var(--brand-color);
  outline-offset: 3px;
}

#botoes {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap; /* opcional, melhora em telas pequenas */
}

button{
  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
  color: var(--white);
  border-radius: 50px;
  padding: 10px 15px;
  margin: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--hover-button);
  transform: scale(1.05);
}

#resultado {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
}